name = "mapmeta"
main = "index.ts"
compatibility_date = "2023-08-08"
minify = true
account_id = "<YOUR ACCOUNT ID>"


[[r2_buckets]]
binding = 'BUCKET' 
preview_bucket_name = '<YOUR BUCKET NAME>'
bucket_name = '<YOUR BUCKET NAME>'

[vars]
ALLOWED_ORIGINS = "http://localhost:8000"
